body {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
box-sizing: border-box;
}
/* Шапка */
.header{
    background-color: white;
    padding-inline: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header_inner{
    display:flex;
    justify-content: space-betweens;
    align-items: center;
}

.nav_img{
    margin-top: 20px;
}


.nav{
    margin-top: 20px;
    align-items: center;
    margin-left: 160px;
    font-size: 15px;
    text-transform: uppercase;
}

.nav_link{
    display: inline-block;
    vertical-align: top;
    margin: 0 30px;
    position: relative;
    color:black;
    text-decoration: none;
    transition: color .1s linear;
}

.nav_link:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fce38a;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
}
.nav_link:hover{
    color: rgb(26, 63, 156);
}
.nav_link:hover :after{
    opacity: 1;
}
/* Статичная шапка */
.header_fixed{
    position: fixed;
    top: 0;
    left: 0;
    animation-name: show_header;
    animation-duration: 1s;
    
}
@keyframes show_header {
    0%{
        opacity: 0;
        top: -70px;
    }
    100%{
        opacity: 1;
        top: 0;

    }
}

#phone_icon {
    margin-top: 5px;
    margin-left: 100px;
    margin-right: -20px;
}

#head_num {
    font-size: 17px;
    font-weight: bold;
}

/* Section 1*/

.section_1 {
    margin-top: 90px;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.basket {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
}

.info_part {
    width: 500px;
    margin-left: -100px;
    height: 900px;
}

.head_title {
    color: #231f20;
    font-size: 68px;
    font-family: 'Roboto Slab', serif;
    line-height: 1.2;
    font-weight: 600;
}

.head_subtitle {
    margin-top: 100px;
    color: #231f20;
    font-size: 40px;
    font-family: 'Roboto Slab', serif;
    line-height: 1.2;
    font-weight: 600;
    margin-top: 200px;
}

.b_bottom {
    margin-top: -20px;
    width: 100px;
    height: 2px;
    background-color: #224d8f;
}

.main_text {
    margin-top: 50px;
    color: #231f20;
    font-size: 16px;
    /*font-family: 'Poppins', sans-serif;*/
    font-family: 'Rubik', sans-serif;
    line-height: 1.45;
    font-weight: 500;
    width: 115%;
}

.pic_part {
    position: absolute;
}

sup {
    color: #231f20;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    line-height: 1.2;
    font-weight: 600;
}

.pic_part img {
    width: 80%;
    margin-top: 350px;
    margin-left: 750px;
}

.b {
    width: 40%;
    background-color: #224d8f;
    background-position: center center;
    border-color: transparent;
    height: auto;
}

.info_part h3 {
    margin-top: 70px;
    color: #231f20;
    font-size: 19px;
    font-family: 'Roboto Slab', serif;
    line-height: 1.45;
    font-weight: 700;
}

.conc_text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.conc_1 {
    margin-right: 60px;
}

.conc_1 h1 {
    color: #224d8f;
    font-size: 72px;
    font-family: 'Rubik', sans-serif;
    line-height: 1.1;
    font-weight: 500;
    margin: 0;
}

.conc_1 p {
    color: #231f20;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    line-height: 1.45;
    font-weight: 400;
}

.conc_2 h1 {
    color: #224d8f;
    font-size: 72px;
    font-family: 'Rubik', sans-serif;
    line-height: 1.1;
    font-weight: 500;
    margin: 0;
}

.conc_2 p {
    color: #231f20;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    line-height: 1.45;
    font-weight: 400;
}

/*Section 2*/

.section_2 {
    margin-top: -90px;
}

