body {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
    box-sizing: border-box;
    background-color: rgba(245,243,240,1);
}
/* Шапка */
.header{
    background-color: white;
    padding-inline: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header_inner{
    display:flex;
    justify-content: space-betweens;
    align-items: center;
}

.nav_img{
    margin-top: 10px;
    padding-left: 70px;
    width: 130px;
    padding-bottom: 10px;
}


.nav{
    margin-top: 20px;
    align-items: center;
    margin-left: 100px;
    font-size: 15px;
    text-transform: uppercase;
}

.nav_link{
    display: inline-block;
    vertical-align: top;
    margin: 0 30px;
    position: relative;
    color:black;
    text-decoration: none;
    transition: color .1s linear;
}

.nav_link:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fce38a;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
}
.nav_link:hover{
    color: rgb(26, 63, 156);
}
.nav_link:hover :after{
    opacity: 1;
}
/* Статичная шапка */
.header_fixed{
    position: fixed;
    top: 0;
    left: 0;
    animation-name: show_header;
    animation-duration: 1s;
    
}
@keyframes show_header {
    0%{
        opacity: 0;
        top: -70px;
    }
    100%{
        opacity: 1;
        top: 0;

    }
}

#phone_icon {
    margin-left: 50px;
    margin-right: -20px;
    width: 25px;
}

#head_num {
    font-size: 17px;
}
.giv_get{
    font-size: 12px;
    color: #ffdea6;
    text-decoration: none;
}
.giv{
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: #17493c;
   height: 50px;
}

/*Section1*/
.section1{
    margin-top: 100px;
    height: 699px;
    width: 100%;
}
.first{
    display: flex;
    width: 100%;
    height: 100vh;
}
.first_txt{
    width: 60%;
}
.first_input{
    width: 40%;
}
.first_txt{
    text-align: left;
    vertical-align: middle;
    margin-top: 70px;
    margin-left: 180px ;
    

}
.first_txt1{
    letter-spacing: 0.1em;
    width: 550px;
    font-size: 48px;
    color: #17493c; 
    font-family: 'Lato',Arial,sans-serif;
    font-weight: 200;
}
.first_txt2{
    width: 480px;
    font-size: 20px;
    color:#17493c;
    font-family: 'Lato',Arial,sans-serif;
    font-weight: lighter;
}
.first_txt3{
    width: 400px;
    font-size: 30px;
    color:#17493c;
    font-family: 'Lato',Arial,sans-serif;
}

.first_input{

    margin-top: 150px;
    display: flex;
    flex-direction: column;
}
.inp{
    margin-left: 60px;
    font-size: 20px;
    color: #17493c;
}
.input_name{
    width: 320px;
    height: 40px;
    margin-bottom: 10px;
}
.input_num{
    width: 320px;
    height: 40px;
}
input::placeholder{
    font-size: 18px;
    align-items: center;
    padding-left: 5px;
    color: grey;
}
input, select, textarea{
    padding-left: 15px;
    color: white;
}
.zav_ques:focus{
    color: white
}
.zav_submit{
    margin-top: 10px;
    width: 342px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #17493c;
}

/*Section2*/
.section2{
    width: 100%;
    height: 670px;
    background-image: url("https://thumb.tildacdn.com/tild6433-3162-4236-a338-656639363232/-/format/webp/__2021-04-14__200038.png");
}
/*Section*/
.section3{
    height: 800px;
    margin-top: 200px;
}
.about{
    display: flex;
}
.about1{
width: 50%;
margin-left: 150px;

}
.about2{
    width: 50%;
}
.about2_img{
    margin-top: 20px;
}
.section4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-image: url("https://novostroy-a.akamaihd.net/regions/u/b/g/box_orig/5a044b1575ee2.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;/*Занимает всю площадь экрана*/
}
.section5{
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.program{
    gap: 30px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: auto;
}
.prog_1{
    text-align: center;
    width: 600px;
    height: 450px;
    border: solid 1px #17493c;
}
.p1_1{
    font-size: 30px;
    color: #17493c;
}
.p1_2{
    font-size: 20px;
}
.p2_7{
    font-size: 30px;
    color:#17493c;
}
.p2{
    display: flex;
    justify-content: space-around;
}
.yznat{
    background-color: #17493c;
}

.prog_2{
    width: 600px;
    height: 450px;
    border: solid 1px #17493c;
}

/*Section 6*/
.parall{
    display: flex;
    justify-content: space-around;
}
.par_1{
    display: flex;
}
.par_2{
    font-size: 48px;
    color:#17493c;
}
.par_3{
    padding-left: 10px;
   width: 120px;
   font-size: 20px;
}
/*Section 7*/
.app{
    display: flex;
    justify-content: center;
    gap: 350px;
}
.app_txt1{
    font-size: 35px;
    color: #17493c;
}
.app_txt2{
    margin-top: 50px;
    font-size: 18px;
    color:#17493c;
    width: 600px;
}
.locate{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 40px;
}
.loc{
    color: #17493c;
    font-size: 18px;
}

.section8{
    padding-top: 100px;
    text-align: center;
}
.fl_kv{
    color: #17493c;
    font-size: 34px;
}
.kvartiry{
    display: flex;
    justify-content: center;
}
.fl_kom{
    width: 200px;
    height: 50px;
    border: solid 2px #17493c;
}
#kom1{
    background-color: #17493c;
    color: white;
}
.flat_info{
   display: flex;
   justify-content: center;
   align-items: center;
}
.fl_in{
    width: 45%;
    margin-bottom: 70px;
}
.fl_im{
    width: 55%;
}

#eta{
    font-size: 35px;
    color:#17493c;
}
#komnat{
    font-size: 20px;
    color: #17493c;
}
#area{
    font-size: 32px;
    color:#17493c;
}

.kopka{
    display: flex;
    justify-content: center;
}
.knopka{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 50px;
    background-color: #17493c;
}
.bord{
    margin: 120px;
    border: 2px solid #c49c0c;
}




